.navbar {
  position: absolute; /*Fixa a barra de navegação acima*/
  z-index: 1;
  top: 0; /*Retira a margem que ficou da barra de navegação*/
  left: 0;
  width: 100%;
  color: #fff; /*Cor da letra*/
}

.navbar__container {
  display: grid; /*grid layout enables an author to align elements into columns and rows*/
  grid-template-columns: 1fr 9fr;
  align-items: center;
  
  width: 100vw; /*Faz a barra de navegação ficar inteira*/
  height: 7.75rem;
  padding: 0 1rem; /*Afasta os elementos da lista da barra de navegação*/
}

.navbar__links {
  justify-self: end; /*Justifica os elementos da barra de navegação à direita*/
  display:none;
}

.navbar__links.active {
  display: grid;
  place-items: center;
  position:absolute;

  top:0;
  left:0;
  z-index: 10;
  width: 100vw;
  height:100vw;
  margin: 0;
  padding: 3rem 2rem;
  
  background:#000e;
  
}

@media screen and (min-width:1280px) {
  .navbar__links {
    display: flex;
  }
}

.navbar__links li {
  font-size: 1.5rem;
  text-transform: uppercase;
}

@media screen and (min-width: 1280px) {
  .navbar__links li {
  font-size: 0.875rem;
  margin-right: 3rem;

  }
}

.navbar__links a {
  font-weight: 300;
  color: #fff; /*Cor dos elementos da barra*/
  text-decoration: none; /*Retira o efeito dos elementos da barra*/
}

.navbar__links a.active {
  color: var(--color-primary);
}

.navbar__links a:hover {
  color: var(--color-primary); /*Utilizou da variável para aplicar a cor primária na navbar*/
}

.navbar__menu-btn {
  cursor: pointer;
  position: relative;
  z-index: 10;
  
  font-size: 2rem;
  width: fit-content;
  color: #fff;
  background:unset;
  border:unset;
  
  justify-self: end;
  align-self: start;
  margin-top: 2rem;
}

@media screen and (min-width: 1280px) {
  .navbar__menu-btn {
    display:none;
  }
}